.next5 {
  margin-top: 10px;
}

.next5 .header {
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  background: #252525;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding-left: 10px;
}
  
.next5 .content {
  background: #f0efee;
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #e2e2e2;
  padding: 5px;
}
  
.next5 table {
  width: 100%;
  cursor: pointer;
}

.next5 td {
  background-color: #f2f1f1;
  color: #252525;
  border-bottom: 1px solid #e8e7e7;
  border-top: 1px solid #fff;
  line-height: 35px;
}

.next5 tr:nth-child(odd) td {
  background: #ECECEC;
}

.next5 tr:hover td {
  background-color: #fafafa;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.time{
  padding-left: 10px;
}
  